/* Tema Light */

/* NavBar */
.custom-navbar {
    background-color: #F0F0F0; 
	transition: background-color 0.3s ease, color 0.3s ease;
}

#menuText .nav-link {
    color: #999;
    transition: color 0.3s ease;
}

#menuText .nav-link:hover {
    color: #000;
}


#menuText .nav-item.active .nav-link {
    color: #000; 
}

/* Boton de la barra */

.custom-navbar .navbar-toggler {
    background-color: #A8A8A8;
    color: #000;
    transition: all 0.3s ease;
}

.custom-navbar .navbar-toggler:hover {
    background-color: #2DBEFF;
}

/* Iconos */
#menuIcon .nav-item a {
    filter: brightness(100%);
    transition: filter 0.3s ease;
}

#menuIcon .nav-item a:hover {
    filter: brightness(120%);
}

/* Logo */
#menuLogo img {
    filter: brightness(100%);
    transition: filter 0.3s ease;
}

#menuLogo:hover img {
    filter: brightness(110%);
}

/* Cuerpo */

/* Establece un fondo oscuro para el body, pero excluye los elementos con la clase "navBar" */
body:not(.navBar) {
    background-color: #FFF; 
    color: #000;
	transition: background-color 0.3s ease, color 0.3s ease;
}

/* Personaliza el color del texto para los elementos de encabezado, excluyendo los elementos con la clase "navBar" */
body:not(.navBar) h1,
body:not(.navBar) h2,
body:not(.navBar) h3,
body:not(.navBar) h4,
body:not(.navBar) h5,
body:not(.navBar) h6 {
    color: #000;
}

/* Personaliza el color del texto para los párrafos, excluyendo los elementos con la clase "navBar" */
body:not(.navBar) p {
    color: #666;
}

/* Personaliza el color de los enlaces, excluyendo los elementos con la clase "navBar" */
body:not(.navBar) a {
    color: #FFF; /* Color de los enlaces en azul */
}

/* Personaliza el color de fondo de los enlaces cuando se colocan sobre ellos, excluyendo los elementos con la clase "navBar" */
body:not(.navBar) a:hover {
    color: #FFF; /* Cambia el color del texto del enlace a un tono más claro de azul al pasar el mouse sobre él */
}

/* Pie de pagina */
footer {
    background-color: #F0F0F0;
	transition: background-color 0.3s ease, color 0.3s ease;
}

/* Boton ir arriba */
.floating-btn {
    background-color: #FFF;
	color: #000;
}

/* comentario */
.comment {
	background-color: #F0F0F0;
}